@keyframes intro {
  from {
    top: 40%;
    left: 45%;
    width: 10%;
  }
  to {
    top: 1rem;
    left: 1rem;
    width: 4%;
  }
}
.logo{
  position: relative;
  animation-name: intro;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  /* transform-origin: 50% 50%; */
}